.block_emploi {
    width: 90%;
    margin: 0 auto;

    h2 {
        text-align: center;
        padding: 2rem 0;
        font-size: 32px;
        font-weight: 900;
    }

    .wrapper {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto 2rem auto;
    }

}