.block_emploi {
    width: 90%;
    margin: 0 auto;

    .form_search {
        width: 65%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 2rem auto; 

        input {
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 2rem;
            font-family: "Montserrat";
            font-weight: 300;
        }
        .input-icons i { 
            position: absolute; 
        } 
          
        .input-icons {
            margin: 10px 2rem; 
        } 
          
        .icon { 
            padding: 7px 10px; 
            min-width: 50px; 
        } 
          
        .input-field { 
            width: 100%; 
            padding: 5px 30px; 
            text-align: center; 
        }
        
        .button {
            border: 2px solid #FFC30B;
        }
          
    }
    
    h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 900;
    }

    .wrapper {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto 2rem auto;

        .button {
            border: 2px solid #FFC30B;
        }
    }

}