.card {
    background-size: cover;
    background-position: center;
    margin-bottom: 3rem;
    height: 350px;


    img {
        max-width: 50px;
        max-height: 50px;
    }
    .card_overlay {
        opacity: 0;
        transition: 0.3s all;
        background-color: rgba($color: #000000, $alpha: 0.5);
        height:100%;
        width:100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: white;

        .details {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            margin-bottom: 20px;
        }
        span {
            margin-left: 20px;
            font-size: 20px;
        }
    }

    &:hover {

        .card_overlay {
            opacity: 1;
        }
    }

}


