.card_emploi {
    flex-basis: 30%;
    text-align: center;
    margin: 0 auto 3rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(173,173,173, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(173,173,173,0.75);
    box-shadow: 0px 0px 10px 0px rgba(173,173,173,0.75);

    h3 {
        font-size: 24px;
        color: #FFC30B;
        margin-bottom: 0.5em;
    }

    img {
        padding: 10px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(173,173,173, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(173,173,173,0.75);
        box-shadow: 0px 0px 15px 0px rgba(173,173,173,0.75);
        width: 200px;
        height: 200px;
        margin: 2rem 0 1rem;
    }

    .content {
        width: 70%;
        text-align: justify;
        margin: 0 auto;

        .type {
            text-align: center;
            padding-bottom: 1rem;
            font-weight: 100;
            font-size: 24px;
        }

        .text {
            width: 80%;
            margin: 0 auto;
            text-align-last: center;
        }
 }

    .details {
        padding-top: 2rem;
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        font-weight: 800;

        .salaire {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .fa {
                width: 30px;
                padding-right: 1em;
            }
        }

        .localisation {
            display: flex;
            flex-flow: row wrap;
            align-items: center;

            .fa {
                width: 20px;
                padding-right: 1em;
            }
        }
    }
}