.side_auth{
    height: 100%;
    flex-basis: 10%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    .login{
        flex-basis: 48%;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .register{
        flex-basis: 48%;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;        
    }

    .text_horizontal{
        text-orientation: upright;
        writing-mode: vertical-rl;
    }

    .active{
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            a{
                font-weight: bold;
            }
    }

}